HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/logs/
/mvnw
/mvnw.cmd
/src/main/azkaban/
/src/main/datax/
/src/test/
/src/main/resources/application-dev.yml
/src/main/resources/application-hdsp.yml
/src/main/resources/bootstrap-*.yml
